/* Reviews Module CSS */

//Variables

$colorNavy: #004495;
$colorRed: #ff3e3e;

.reviews-module {
  display: flex;
  overflow: hidden;
  padding: 88px 0 88px 120px;
  flex-direction: row-reverse;

  @media (max-width: 980px) {
    flex-direction: column;
    padding: 85px 0 150px;
  }
}
.slider-quotes {
  width: 30%;
  text-align: left;
  margin-right: 100px;
  color: $colorNavy;
  @media (max-width: 980px) {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  h2 {
    font: 42px "Austin Text", serif;
  }
  p {
    font: 24px "Austin Text Roman No 2";
    line-height: 1.5;
    margin: 0 0 40px;
    &:before {
      content: open-quote;
    }
    &:after {
      content: close-quote;
    }
  }
  img {
    max-width: 110px;
    display: block;
    margin-bottom: 20px;
    @media (max-width: 980px) {
      margin: 0 auto 20px;
    }
  }
  span {
    display: block;
    font: 13px "Brown Regular", sans-serif;
    letter-spacing: 1.75px;
    margin-bottom: 60px;
  }
  a {
    background: $colorRed;
    color: #fff;
    font: 11px "Brown Regular", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.75px;
    height: 30px;
    line-height: 30px;
    padding: 8px 50px;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      background-color: darken($colorRed, 15%);
    }
  }
}
.slider-images {
  width: 400px;
  margin-left: 20px;
  overflow: hidden;
  border-radius: 50% 50% 10px 10px;
  @media (max-width: 980px) {
    margin: 0 auto 20px;
    width: 500px;
  }
  img {
    max-width: 500px;
  }
  .swiper-slide-next {
    opacity: 0.5;
  }
}
.slider-ghost {
  @media (max-width: 980px) {
    display: none;
  }
}
.swipper-dummy {
  opacity: 0.4;
}
